    <div class="container" *ngIf="_global.currentUser.username != 'EBsurvey'">
      <div class="my-3">
        <div class="col-8 float-left"><h4>Training List</h4></div>
        <button type="button" (click)="addTraining()" class="btn btn-success float-right">Add new training</button>
        <div class="clearfix"></div>
        </div>
      <table class="table">
        <thead>
          <th>Training Name</th>
          <th>Trainers</th>
          <th>Location</th>
          <th>Date</th>
          <th colspan="2" style="text-align: center">Actions</th>
        </thead>

        <tr *ngFor="let training of TrainingList | filter : currentUser | orderBy: order :true ">
          <td><a [routerLink]="training?.enableEbGuideForm ? ['/ebguideform',training?.id] : ['/trainingform',training?.id]">{{training?.training}}</a></td>
          <td>{{training?.trainers}}</td>
          <td>{{training?.location}} </td>
          <td><p *ngIf = "training?.to_date == training?.from_date">{{training?.from_date}} </p>
            <p *ngIf = "training?.to_date != training?.from_date">{{training?.from_date}} to {{training?.to_date}}</p></td>
          <td><button type="button" (click)="editTraining(training?.id)" class="btn btn-default material-icons" style="color: #00A200; font-size:25px">edit</button></td>
          <td *ngIf="this.currentUserRole !='admin'"><button type="button" (click)="showConfirmPopUp(training?.id,training?.training)" class="btn btn-default material-icons" style="color: red; font-size:25px">&#xe92b;</button></td>
         </tr>
      </table>
    </div>

    <div class="container" *ngIf="_global.currentUser.username == 'EBsurvey'">
      <div class="my-3">
        <div class="col-8 float-left"><h4>Survey List</h4></div>
        <button type="button" (click)="addSurvey()" class="btn btn-success float-right">Add new Survey</button>
        <div class="clearfix"></div>
        </div>
      <table class="table">
        <thead>
          <th>Survey</th>
          <th>Location</th>
          <th>Date</th>
          <th style="text-align: center">Actions</th>
        </thead>

        <tr *ngFor="let ebsurvey of SurveyList | orderBy: order :true ">
          <td><a [routerLink]="['/ebsurvey',ebsurvey?.id]">{{ebsurvey?.survey}}</a></td>
          <td>{{ebsurvey?.location}} </td>
          <td><p *ngIf = "ebsurvey?.to_date == ebsurvey?.from_date">{{ebsurvey?.from_date}} </p>
            <p *ngIf = "ebsurvey?.to_date != ebsurvey?.from_date">{{ebsurvey?.from_date}} to {{ebsurvey?.to_date}}</p></td>
          <td style="text-align: center;"><button type="button" (click)="editSurvey(ebsurvey?.id)" class="btn btn-default material-icons" style="color: #00A200; font-size:25px">edit</button> <button type="button" (click)="showConfirmSurveyPopUp(ebsurvey?.id,ebsurvey?.survey)" class="btn btn-default material-icons" style="color: red; font-size:25px">&#xe92b;</button></td>
         </tr>
      </table>
    </div>

    <div id="confirmOverlay" *ngIf="confirmStatus">
        <div id="confirmBox">
    
            <h1>Delete Training</h1>
            <p>Are you sure you want to delete <span>{{trainingName}} </span> ?</p>
    
            <div id="confirmButtons">
                <button class="button blue" (click)="deleteTraining()">Yes<span></span></button>
                <button class="button gray" (click)="cancelDelete()">No<span></span></button>
            </div>
        </div>
    </div>

    <div id="confirmOverlay" *ngIf="confirmSurveyStatus">
      <div id="confirmBox">
  
          <h1>Delete Survey</h1>
          <p>Are you sure you want to delete <span>{{surveyName}} </span> ?</p>
          <div id="confirmButtons">
              <button class="button blue" (click)="deleteSurvey()">Yes<span></span></button>
              <button class="button gray" (click)="cancelDeleteSurvey()">No<span></span></button>
          </div>
      </div>
  </div>


   